@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/** SCROLLBAR CUSTOMIZATIONS **/
/** Yes, I googled how to do it :) **/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0); 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;   
}


/** GENERAL STYLES **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #888;
}


/** HEADER **/

/* Navigation */

header {
    height: 100vh;

    background-color: #1f2937;
    color: white;
    
    display: flex;
    flex-direction: column;
}

nav {
    margin: 20px 50px;    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .header__logo a img {
    width: 25%;
    height: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

nav ul li a {
    color: white;
}

/** Also googled this as well **/

nav ul li a:hover {
    color: #ccc;
    transition: .5s;
}

/* Hero */

.header__hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 50px;
    padding: 10rem;
}

.header__hero-text {
    display: flex;
    flex-direction: column;
}

.header__hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.header__hero-text p {
    margin-top: 1rem;
    font-size: 18px;
    color: #e5e7eb;
}

.header__hero button {
    margin-top: 1rem;
    width: 50%;
    background-color: #3882f6;
    padding: 1rem;
    border: 0px;
    border-radius: 5px;
}

.header__hero button:hover {
    background-color: #3474db;
    transition: .5s;
}

.header__hero button a {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
}

.header__hero img {
    height: auto;
    width: 40%;
    border-radius: 5px;
}
